
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand mx-auto" style="color: cornsilk" ><h3>{{description}}</h3></a>
  </nav>
<div class="container text-center" >
  <app-search></app-search>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy;2018-2019 ElasticSearch</p>
    <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Supprot</a></li>
    </ul>
  </footer>

</div>
