/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.jumbotron{
  margin: 10px;
}
.input{
  margin-bottom: 10px ;
}
.form-control.ng-pristine.ng-invalid.ng-touched{
  border: solid red;
}
