
<div class="row">
  <h3 class="col-md-1 text-center">Elasticsearch server status: {{status}}</h3>
</div>
<div class="col-md-12 col-md-offset-3">
  <div class="row">
    <h4 class="col-md-12 text-center">Post index</h4>
  </div>
  <div class="row">
    <input matInput #message maxlength="256" placeholder="Message" (keyup)="search($event)">
  </div>

  <div class="row">
    <div class="col-sm-6" *ngFor="let x of results">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" [src]="address(x)" alt="Card image cap" style="height:10rem; ;overflow: hidden">
          <h5 class="card-title">{{x._source.title}}</h5>
          <p class="card-text">{{x._source.tags}}</p>
          <a class="btn btn-primary">More</a>
        </div>
      </div>
    </div>
  </div>


  <!---->
  <!--<mat-grid-list cols="3" rowHeight="300px">-->
    <!--<div *ngIf="other">-->
      <!--<p>No Photo Found</p>-->
    <!--</div>-->
    <!--<mat-grid-tile *ngFor="let x of results">-->

      <!--<div class="card" style="width: 18rem;">-->
        <!--<img class="card-img-top" [src]="address(x)" alt="Card image cap" style="height:10rem; ;overflow: hidden">-->
        <!--<div class="card-body">-->
          <!--<h5 class="card-title">{{x._source.title}}</h5>-->
          <!--<p class="card-text">{{x._source.tags}}</p>-->
          <!--<button mat-flat-button color="accent">More</button>-->
        <!--</div>-->
      <!--</div>-->

    <!--</mat-grid-tile>-->
  <!--</mat-grid-list>-->
</div>
